*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: 300;
  background-color: antiquewhite;
  margin: auto;
  color: #3f3f3f;
  margin-bottom: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #222222;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  background-color: antiquewhite;
  border-bottom: 1px black solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: antiquewhite;
  width: 100%;
  border-top: 1px black solid;
  padding: 3px;
}

header a {
  text-decoration: none;
  color: black;
}

#headertitle {
  padding: 20px;
  margin-left: 20px;
  border-radius: 10px;
}

#headertitle:hover {
  color: antiquewhite;
  background-color: rgba(220, 20, 60, 60%);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.headerinfo {
  padding-right: 40px;
}

.reservation_date_picker {
  display: none;
}

.mon {
  display: block;
}

section.container {
  border: 2px #3f3f3f solid;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.button {
  background-color: rgba(89, 211, 168, 0.3);
  border: 1px solid #3f3f3f;
  border-radius: 10px;
  color: #222;
  margin: 5px;
  padding: 10px;
  white-space: nowrap;
}

a.button:hover {
  color: antiquewhite;
  background-color: rgba(220, 20, 60, 60%);
}

li.button {
  margin-bottom: 30px;
}

input.button {
  background-color: rgba(89, 211, 168, 0.3);
  border: 1px solid #3f3f3f;
  border-radius: 10px;
  color: #222;
  margin: 5px 5px 20px 5px;
  padding: 8px 25px;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

form {
  align-items: center;
}

select {
  background-color: transparent;
  border: 1px solid #3f3f3f;
  padding: 0.25em 1em;
  cursor: pointer;
  border-radius: 5px;
  width: fit-content;
  display: grid;
  box-shadow: 0 2px 2px 2px #2222224d;
  margin-bottom: 5px;
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'],
textarea {
  border: none;
  background-color: rgba(220, 20, 60, 20%);
  margin: 3px 0;
  box-shadow: 0 2px 2px 2px #2222224d;
  padding: 5px;
}

input:focus {
  outline: none;
}

input[type='submit']:hover {
  cursor: pointer;
}

.restaurant-admin-content,
.admin-content,
.outer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
