{% extends 'base.html' %}

{% block content %}

<h2>Etusivu</h2>
<section class='outer-container'>
  <section class='container'>
    <h2>Ravintolat</h2>
    <ul>
      {% for restaurant in restaurants %}
      <li class='button'><a href=/restaurants/{{ restaurant.id }} class='button'>{{ restaurant.name }}</a></li>
      {% endfor %}
    </ul>
  </section>
  <section class='container'>
    <h3>Hae ravintoloita</h3>
    <form action='/result' method='GET'>
      <label for='query'>Hakusana</label>
      <input type='text' name='query' id='query'>
      <input type='submit' value='Hae' class='button'>
    </form>
  </section>
</section>
{% if admin %}
<p><a href='/admin' class='button'>Hallintapaneeli</a></p>
{% endif %}
{% endblock %}