{% extends 'base.html' %}

{% block content %}
{% if admin %}
<p><a href='/admin'>Hallintapaneeli</a></p>
{% endif %}
<p><a href='/review'>Kirjoita arvostelu</a></p>
<br>
<h3>Ravintolat</h3>
<ul>
  {% for restaurant in restaurants %}
  <li><a href=/restaurants/{{ restaurant.id }}>{{ restaurant.name }}</a></li>
  {% endfor %}
</ul>
<br>
<h3>Hae ravintoloita</h3>
<form action='/result' method='GET'>
  Hakusana: <input type='text' name='query'>
  <br>
  <input type='submit' value='Hae'>
</form>
{% endblock %}