<!DOCTYPE html>
<html lang='fi'>

<head>
  <title>Etusivu</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' href='static/style.css'>
</head>

<body>
  <h1>Pöytävaraus</h1>
  {% if session.user %}
  <h2>Tervetuloa, {{ session.username }}</h2>
  <a href="/logout">Kirjaudu ulos</a>
  <br>
  <a href='/review'>Tee arvio</a>
  {% else %}
  <a href='/login'>Kirjaudu sisään</a>
  <br>
  <a href='/signup'>Luo tunnus</a>
  <br>
  <a href='/review'>Tee arvio</a>
  {% endif %}
</body>

</html>