<!DOCTYPE html>
<html lang='fi'>

<head>
  <title>Kirjaudu sisään</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' href='static/style.css'>
</head>

<body>
  <h1>Kirjaudu sisään</h1>
  <form action='/login_handler' method='POST'>
    Käyttäjätunnus:
    <input type='text' name='username'>
    <br>
    Salasana:
    <input type="password" name='password'>
    <br>
    <input type="submit" value='Kirjaudu'>
  </form>
  <a href="/signup">Luo tunnus</a>
</body>

</html>