<!DOCTYPE html>
<html lang='fi'>

<head>
  <title>Kirjaudu sisään</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' href='static/style.css'>
</head>

<body>
  <a href="/">Etusivu</a>
  <h1>Kirjaudu sisään</h1>
  <form action='/login' method='POST'>
    <label for="username">Käyttäjätunnus:</label>
    <input type='text' name='username' id='username'>
    <br>
    <label for="password">Salasana:</label>
    <input type="password" name='password' id='passsword'>
    <br>
    <input type="submit" value='Kirjaudu'>
  </form>
  <a href="/signup">Luo tunnus</a>
</body>

</html>