{% extends 'base.html' %}

{% block title %}Oma sivu{% endblock %}

{% block content %}

<h2>Omat tiedot</h2>

<section class='outer-container'>
  {% if restaurant_status %}
  <section class='container'>
    <h3>Omat ravintolasi</h3>
    <ul>
      {% for restaurant in restaurants %}
      <li class='button'>
        {{ restaurant.name }}
        <a href='/restaurants/{{ restaurant.id }}/admin' class='button'>Muokkaa</a>
      </li>
      {% endfor %}
    </ul>
    <a href='/newrestaurant' class='button'>Lisää uusi ravintola</a>
  </section>
  {% endif %}
  <section class='container'>
    <h4>Tekemäsi arviot</h4>
    {% for review in reviews %}
    <p>
      Ravintola: {{ review.name }}
      <br>
      Arvio: {{ review.review }}
      <br>
      {{ review.stars }} tähteä
    </p>
  
    {% endfor %}
  </section>
  <section class='container'>
    <h4>Pöytävarauksesi</h4>
    {% for reservation in reservations %}
  
    <p>
      
      Ravintolaan <a href='restaurants/{{ reservation.restaurant_id }}'>{{ reservation.name }}</a>
      <br>
      {{ reservation.pax }} henkilöä, <span id='res_date'>{{ reservation.date }}</span> klo {{ reservation.starttime }}
      
    </p>
  
    {% endfor %}
  </section>
</section>

{% endblock %}