{% extends 'base.html' %}

{% block title %}Oma sivu{% endblock %}

{% block content %}

<h2>Omat tiedot</h2>

{% if restaurant_status %}
<h3>Omat ravintolasi</h3>
<ul>
  {% for restaurant in restaurants %}
  <li>{{ restaurant.name }}</li>
  <a href='/restaurants/{{ restaurant.id }}/admin'>Muokkaa</a>
  {% endfor %}
</ul>
<a href='/newrestaurant'>Lisää uusi ravintola</a>
{% endif %}

<section>
  <h4>Tekemäsi arviot</h4>
  {% for review in reviews %}
  
  <p>
    Ravintola: {{ review.rest_name }}
    <br>
    Arvio: {{ review.review }}
    <br>
    {{ review.stars }} tähteä
  </p>
  
  {% endfor %}
</section>

<section>
  <h4>Pöytävarauksesi</h4>
  {% for reservation in reservations %}
  
  <p>{{ reservation.pax }} henkilöä, {{ reservation.date }}</p>
  
  {% endfor %}
</section>

{% endblock %}